<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Diary</title>
    <style>
        body{text-align: center;}
    </style>
</head>
<body>
    {%load static%}
    <div class="bgImage"></div>
      <style>
      .bgImage {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: center / cover no-repeat url('/static/오로라.png');
        opacity: 0.5;
      }
  
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>

    <h1>로그인 해주세요!</h1>
    <a href="">로그인</a>
    <a href="">회원가입</a>
</body>